/* ==============    Reset Styles     ==================*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: sans-serif;
}

/* ===================         Button styles              ================== */

.button-animated {
	position: relative;
	display: inline-block;
	padding: 5px 30px;
	background-color: #171C32;
	border: 1px solid #4c84ff;
	border-radius: 5px;
	cursor: pointer;
}

.button-animated::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #4c84ff;
	border-radius: 5px;
	z-index: 200;
}

.button-animated::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #3b5998;
	border-radius: 5px;
	z-index: 100;
}

.button-animated:hover:before{
	width: 0%;
	transition: width 600ms;
}

.button-animated:hover:after{
	width: 0%;
	transition: width 400ms 200ms;
}

.title-xl {
	width: 100%;
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 20px;	
}

.subtitle-md {
	font-size: 1.2rem;
	font-weight: normal;
	margin-bottom: 20px;
}

.subtitle-lg {
	font-size: 1.4rem;
	font-weight: normal;
}

.text-standar {
	line-height: 25px;
}

.default-bcolor-bradius {
	border-radius: 10px;
	background-color: #252C48;
}

.d-none {
	display: none;
}

.d-inline-block {
	display: inline-block;
}

body {
	background-color: #171C32;
}

.p-relative{
	position: relative;
}

.generic-section {
	padding: 10%;
	background-color: #171C32;
}

.color-blue {
	color: #4c84ff;
}

.color-blue-secundary {
	color: #94A2C7;
}

.small-title {
	font-size: 1.2rem;
	font-weight: normal;
}

.small-text {
	font-size: 0.75rem;
}

.padding-responsive {
	padding: 8%;
}

.link-selected {
	color: #4c84ff;
}

.hidden {
	display: none;
}	

.section-active {
	position: relative;
	transform: translateX(0%);
	transition: all 500ms;
	z-index: 400;
}

.section-disactivate {
	position: absolute;
	transform: translateX(100%);
	top: 0;
	transition: all 500ms 510ms;
}

/* =================    progres bar     ========================= */

@keyframes progres-bar-animation{
	from {
		background-position-x: 0px;
	}
	to {
		background-position-x: 160px;
	}
}

.progres-bar{
	width: 100%;
	height: 15px;
	background-size: 40px 40px;
	margin: 10px 0;
	background-color: #4c84ff;
	background-image: linear-gradient(55deg, rgba(255, 255, 255, .15) 10%, transparent 10%,transparent 20%,rgba(255, 255, 255, .15) 20%, rgba(255, 255, 255, .15) 30%, transparent 30%, transparent 40%,rgba(255, 255, 255, .15) 40%, rgba(255, 255, 255, .15) 50%, transparent 50%, transparent 60%,rgba(255, 255, 255, .15) 60%, rgba(255, 255, 255, .15) 70%, transparent 70%,transparent 80%,rgba(255, 255, 255, .15) 80%, rgba(255, 255, 255, .15) 90%, transparent 90%, transparent 100%);
	animation: progres-bar-animation 10s linear infinite;
}

/* =================     Home profile styles     ================ */

.container {
	width: 100%;
	max-width: 1600px;
	margin: auto;
	overflow: hidden	;
}

.home-class {
	align-items: center;
}

/* ===================         Image styles              ================== */

.home-cont-img {
	padding: 30px;
	overflow: hidden;
}

.home-cont-img::before {
	content: '';
	display: block;
	width: 100%;
	height: 200%;
	background-color: #4c84ff;
	position: absolute;
	top: -50%;
	left: -50%;
	transform: rotate(-33deg);
}

.home-img {
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

/* ===================         Texts styles              ================== */

.home-info {
	padding: 40px;
}

.home-hello {
	font-weight: 600;
	font-size: .9rem;
	background-color: #4c84ff;
	padding: 7px 10px;
	margin-bottom: 10px;	
}

.home-hello::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-right: 7px solid #4c84ff;
	position: absolute;
	bottom: -7px;	
	left: 0;
	transform: rotate(45deg);
}

.home-my-name {
	font-size: 2.25rem;
	margin: 10px 0;
}

.span-lateral-bar {
	font-size: 1.45rem;
}

.home-text {
	margin-top: 20px;
	line-height: 2rem;
}

.home-experience {
	font-size: 1.2rem;
}

.home-icon-portfolio {
	z-index: 300;
	text-decoration: none;
}

.home-link {
	margin-top: 20px;
}

/* ===================          Media    Queries           ====================== */

@media (max-width: 565px) {
	.generic-section {
		padding: 10% 5%;
	}
}

@media (max-width: 450px) {
	.p-15px {
		padding: 15px;
	}
}